/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/** custom css */
.crm-ContextArea {
	border-top: 1px solid #ffffff; /*7598c7*/
	/* background-image: url(images/context_area.png);
	background-repeat: repeat-x; */
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	background-color: #c0c0c0;
}

.crm-Masthead-Name {
	/* color: #287fd6; */
	color: #ffffff;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 5px;
	text-align: left;
}

.crm-Masthead-slogan {
	/* color: #287fd6; */
	color: #ffffff;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	overflow: hidden;
	padding-top: 2px;
	padding-left: 10px;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crm-Masthead-loginedUser {
	color: #e4e4e4; 
	/* color: #ffffff; */
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
	padding-top: 2px;
	padding-left: 10px;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 20px;
}

.crm-Masthead {
	/* background-image: url(images/context_area.png);
	background-repeat: repeat-x; */
	/* background-color: #e4e4e4;  #f4b04a*/
	background-color: #ffffff;
}

.crm-Masthead-bottom {
	/* background-image: url(images/context_area.png);
	background-repeat: repeat-x; */
	 background-color: #e4e4e4;
	
}

.crm-Masthead-Logo {
	padding-top: 4px;
	padding-left: 8px;
}

.crm-ContextArea-Header-Label {
	color: #ffffff;
	cursor: default;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-left: 8px;
}

.crm-ContextArea-Header-window-Label {
	color: #ffffff;
	cursor: default;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 8px;
}

.crm-ContextArea-form-Label {
	cursor: default;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 8px;
}

.crm-NavigationPaneGridCell {
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-NavigationPaneGridCellDark {
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-NavigationPaneGridCellOver, .crm-NavigationPaneGridCellOverDark {
	background: url(images/navigation_pane_gridcell_over.png) repeat-x
		bottom left scroll;
	border-top: 1px solid #ffb74c;
	border-bottom: 1px solid #ffb74c;
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-NavigationPaneGridCellSelected,
	.crm-NavigationPaneGridCellSelectedDark {
	border-top: 1px solid #ffb74c;
	border-bottom: 1px solid #ffb74c;
	background-color: #ffe6a0;
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-NavigationPaneGridCellSelectedOver,
	.crm-NavigationPaneGridCellSelectedOverDark {
	border-top: 1px solid #ffb74c;
	border-bottom: 1px solid #ffb74c;
	background-color: #ffe6a0;
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}